/* General */

body {
  background: green;
}

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border: 1px solid black;
  background: white;
}

.song-title {
  font-size: 22px;
}

.song-autor {
  font-size: 18px;
  color: red;
}

.song-text {
  font-size: 14px;
}
